<div class='box' ng-controller='homeCtl' ng-init='init()'>
  <h1>TDD template</h1>
  <div>{{ng}}<div>
  <pre>
  <%= Cowsay.say("Hello", "Cow") %>
  </pre>

  <% for i in 0..(ENV['TIMES'] ? ENV['TIMES'].to_i : 2) do %>
  <p>Hello World #<%= i %>!</p>
  <% end %>
</div>
